
		<div id="rect">
			<div id="content1">
				<div id="inputContainer" class="inputdemoErrors" ng-cloak>
					
					<section layout="row" layout="column" layout-align="center center">
						<div flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
							<md-toolbar class="_md _md-toolbar-transitions">
							<div class="md-toolbar-tools">
								<h4 class="inventitle">Listing-id : DPLID_1486098127</h4>
							</div>
							</md-toolbar>
						</div>
					</section>
					
					
					<section layout="row" layout="column" layout-align="center center">
						<div flex-xs="" flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
						<h4>Overview</h4>
							<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<textarea style="border-color:#CCC;" placeholder="Message" aria-label="textarea" type="text"></textarea>
							</md-input-container>
							
							
							<!--Specification-->
							
							<h4>Specification</h4>
							
							<button class="accordion">Car Specification</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Gear Box" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Driver Type" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Seating Capacity" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Steering type" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Turning Radius" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Top Speed" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Acceleration" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Tyre type" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="No of doors" type="value">
											</md-input-container>
										</div>
										
									</div>
								</div>
								
							</div>
							
							<!--Engine-->
							<button class="accordion">Engine</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Engine Type" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Displacement" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Max Power" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Max Torque" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="No Of Cylinder" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Valves per Cylinder" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Valves Configuration" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Fuel Supply System" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Super Charger" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
							</div>
							
							
							
							<!--Dimensions-->
							<button class="accordion">Dimensions</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Length" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Width" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Height" type="value">
											</md-input-container>
										</div>
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Wheel Base" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-input-container md-no-float="" class="md-block md-input-placeholder">
											<input style="border-color:#CCC;" placeholder="Gross Weight" type="value">
											</md-input-container>
										</div>
									</div>
								</div>
							</div>
							
							
							
							<h4>Features</h4>
							
							<!--Car Interior-->
							<button class="accordion">Car Interior</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
											<span>Air Conditioner</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb2" aria-label="Switch 1">	</md-switch>
											<span>Adjustable Steering</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Leather Steering Wheel</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1" >	</md-switch>
											<span>Heater</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb5" aria-label="Switch 1"></md-switch>
											<span>Digital Clock</span>
											</md-container>
										</div>
										
									</div>
								</div>
								
								
							</div>
							
							
							
							<!--Car Comfort-->
							<button class="accordion">Car Comfort</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
											<span>Power steering</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb2" aria-label="Switch 1">	</md-switch>
											<span>Power windows front</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Power windows rear</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Remote trunk opener</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Remote fuel lid opener</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Low fuel warning light</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Rear reading lamp</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Rear seat headrest</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Rear seat centre arm rest</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Height adjustable front seat belts</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"> </md-switch>
											<span>Cup holders front</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Cup holders rear</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Rear ac vents</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Parking sensors</span>
											</md-container>
										</div>
									</div>
								</div>
							</div>
							
							
							<!--Safety-->
							<button class="accordion">Safety</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
											<span>Anti lock braking system</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb2" aria-label="Switch 1">	</md-switch>
											<span>Central locking</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Child safety lock</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Driver airbags</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Passenger airbag</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Rear seat belts</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Seat belt warning</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Adjustable seats</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Crash sensor</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Anti theft device</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Immobilizer</span>
											</md-container>
										</div>
									</div>
								</div>
								
							</div>
							
							
							<!--Exterior-->
							<button class="accordion">Exterior</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
											<span>Adjustable head lights</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb2" aria-label="Switch 1">	</md-switch>
											<span>Power adjustable exterior rear view mirror</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Electric folding rear view mirror</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Rain sensing wipers</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Rear window wiper</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Alloy wheels</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Tinted glass</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Front fog lights</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								
								
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Rear window wiper</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Rear window defogger</span>
											</md-container>
										</div>
									</div>
								</div>
							</div>
							
							<!--Entertainment-->
							<button class="accordion">Entertainment</button>
							<div class="panel">
								<br>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
											<span>CD Player</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb2" aria-label="Switch 1">	</md-switch>
											<span>Radio</span>
											</md-container>
										</div>
									</div>
								</div>
								
								<hr>
								<div layout="column" >
									<div layout layout-align="left" >
										<div flex="50">
											<md-container >
											<md-switch ng-model="data.cb3" aria-label="Switch 1"></md-switch>
											<span>Audio</span>
											</md-container>
										</div>
										<div flex="50">
											<md-container>
											<md-switch ng-model="data.cb4" aria-label="Switch 1">	</md-switch>
											<span>Bluetooth</span>
											</md-container>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</section>
				</div>
			</div>
		</div>
		<div id="footer-bottom">
			
			<section layout="row" layout="column" layout-align="center center" layout-wrap="" >
				
				<a href="inventory-price.html"><button class="md-warn md-raised md-hue-2 md-button md-ink-ripple layout-padding" type="button" >
					<span style="color;#FFF !important;" >Price Information</span></button></a>
					
					<a href="inventory-online.html"><button class="md-primary md-raised md-hue-2 md-button md-ink-ripple layout-padding" type="button" >
						<span style="color;#FFF !important;" >Online Portal</span></button></a>
						
					</section>
					
					
					
					
				</div>
				<script>
				var acc = document.getElementsByClassName("accordion");
				var i;
				for (i = 0; i < acc.length; i++) {
				acc[i].onclick = function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight){
				panel.style.maxHeight = null;
				} else {
				panel.style.maxHeight = panel.scrollHeight + "px";
				}
				}
				}
				</script>