<div id="inputContainer" class="inputDemo" ng-cloak>
	<section layout="row" layout="column" layout-align="center center">
	    <div flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
			<md-content class="text-xs-center"> 
				<img src="images/error.png">
			</md-content>
			<md-title>
				<md-title-text>
					<p align="center" class="md-title">Page Not Found</p>
				</md-title-text>
			</md-title>
		  	<div flex="33"align="center">
				<md-button  class="md-raised md-primary" style="background-color:#FF0000;">Go Back</md-button>
		 	</div>
		</div>
	</section>
</div>