   

       /node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
.env.example
.env.example
.env.example
.env.example
.env.example
server.php
server.php
config/filesystems.php
*.lock
composer.json
app/Http/Controllers/Api_controller/master_controller_api.php
app/Http/Controllers/buy_searchlisting.php
composer.json
app/Http/Controllers/hhhhgh.txt


/nbproject/private/
/public/cometchat/
/public/cometchat_old/
/public/profileimages/
/public/uploadimages/
/public/queriesdocuments/
/public/ninja/