
<div class="navbar-fixed">

 <nav style="margin: 0 !important; top: 0 !important;">
	   <div class="nav-wrapper">
	   <div class="col s12">
	       <div class="row">

         <div class="col s2" align="center">
         
       </div>
     
	     <div class="col s8" align="center" >
	    		<span style="font-weight: 600; font-size: 17px;">Price Analysis</span>
	     </div>
		 <div class="col s2" align="right" ng-click="close()">
      <img src="images/close.svg" align="left" width="20" height="20" style="margin-top: 18px;" >
     </div>
    </div>
	</div>
	     
	   </div>
	 </nav>


</div>
<div>
IBB Pricing<img class="full-image" src="images/indianbluebook.png">
</div>
{{pricedetails.PriceList}}

<div id="tab_show" style="display:none">

<table>
        <thead>
          <tr>
              <th>Price Type</th>
              <th>Fair Price</th>
              <th>Good Price</th>
			  <th>Great Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Private Price</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Retail Price</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Trade In Price</td>
            <td></td>
            <td></td>
          </tr>
		  <tr>
            <td>CPO Price</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

</div>








 












