<div >
<div class="header" style="width:100%; top: 0; z-index: 999">
	<nav>
		   <div class="nav-wrapper">
		   <div class="col s12">
		    <div class="row">
		     <div class="col s2" align="center" ng-click="back()">
		      <img src="images/back-white.svg" align="left" width="20" height="20" style="margin-top: 18px;" >
		     </div>
		     <div class="col s8" align="center">
		   		<span style="font-weight: 600; font-size: 17px;">Error</span>
		     </div>
		       <div class="col s2">
		   		
		     </div>
		    </div>
		   </div>
	     </div>
	 </nav>
</div>
<div class="modal-content">
	<div class="row">
		<div class="col s12 m5">
			<br><br>
			<div class="row" align="center">
				<img src="images/oops.png">
			</div>
			<div class="row">
				<h5 align="center">Whoops! </h5>
					<div class="col s2">
					</div>
					<div class="col s8" align="center">
					<P>No Data Found. Try again later.</P>
					</div>
					<div class="col s2">
					</div>


				
			</div>
			
		</div>
	</div>
</div>
<br>
<div class="row">
<div class="col s4">
</div>

<div class="col s8">
	<button type="button" class="btn waves-effect waves-light btn-blue col s6" ng-click="backtoBasic()">Go Back</button>
</div>

<div class="col s4">
</div>
</div>