<style type="text/css">
	
	.fullscreen-dialog {
max-width: 100% !important;
max-height: 100% !important;
width: 100% !important;
height: 100% !important;
border-radius: 0 !important;
}

.close-icon { width: 16px !important; height: 16px !important; }

html:not(.ismobile) .page-loader .preloader { top:45% !important; }
html:not(.ismobile) .page-loader .preloader p {

    left: 5px !important;
    top: 9px !important;
    color: #CCC !important;
    font-size: 12px !important;
    color: #333 !important;
}

</style>
<md-dialog class="fullscreen-dialog">
<md-toolbar class="_md _md-toolbar-transitions" style="background-color: #173e84 !important; font-family: Calibri, Trebuchet, sans-serif !important;">
<div class="md-toolbar-tools">
	<h3 align="center" flex>Report</h3>
	<md-button class="md-icon-button" ng-click="close()">
	<md-icon  class="close-icon" md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
	</md-button>
</div>
</md-toolbar>

<!--Loan-->
<section layout="row" layout-sm="row" layout-align="center" layout-wrap="" >
	<div flex-xs="" flex-gt-xs="99" layout-padding  layout="column" class="layout-column flex-xs flex-gt-xs-99">
		<!-- <md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="" style="margin-top: 100px;">
		<md-select placeholder="Report Listing" ng-model="user" style="min-width: 100px;">
		<md-option value="app" tabindex="0" class="md-ink-ripple" role="option" aria-selected="false" id="select_option_400"><div class="md-text">Car Not Available</div></md-option>
		<md-option value="app" tabindex="0" class="md-ink-ripple" role="option" aria-selected="false" id="select_option_400"><div class="md-text">Inaccurate Price</div></md-option>
		<md-option value="app" tabindex="0" class="md-ink-ripple" role="option" aria-selected="false" id="select_option_400"><div class="md-text">Scam</div></md-option>
		<md-option value="app" tabindex="0" class="md-ink-ripple" role="option" aria-selected="false" id="select_option_400"><div class="md-text">Others</div></md-option>
		</md-select>
		</md-input-container> -->

	<!-- 	<h3 style="text-align:center">Coming Soon..!</h3> -->
	</div>
</section>


<section layout="row" layout="column" layout-align="center center">
	    <div flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50" style="margin-top: 50px;">
			<md-content class="text-xs-center"> 
				<img src="images/coming.png">
			</md-content>
			<md-title>
				<md-title-text>
					<h3 align="center" class="md-title"><strong>Coming Soon..!</strong></h3>
				</md-title-text>
			</md-title>
		  
		</div>
	</section>


	<!-- <section layout="row" layout="column" layout-align="center center" layout-wrap="" >
	<div flex-xs="" flex-gt-xs="99" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-99">
		<md-button class="md-warn md-raised md-button md-ink-ripple btn-red" type="button">
		<span class="ng-scope">Send</span></md-button>
	</div>
</section> -->
</md-dialog>