<div id="inputContainer" class="inputDemo" ng-cloak>
	<section layout="row" layout="column" layout-align="center center">
	    <div flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
		  	<md-content class="text-xs-center"> 
				<img src="images/oops.png">
		  	</md-content>
		  	<md-title>
		  		<md-title-text>
			  		<p align="center" class="md-title">Oops!!</p>
		  		</md-title-text>
		  	</md-title>
		  	<div flex="33"align="center">
				<a href="#/" class="md-button md-raised md-primary" style="background-color:#7fbefe;">Go Home</a>
		 	</div>
		</div>
	</section>
</div>