

<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Plan Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
     </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
		
        <p><md-icon class="material-icons">keyboard_arrow_right</md-icon><span style="font-size:12px;">Web and Mobiles Apps</span></p>
		<p><md-icon class="material-icons dialog-icon"">keyboard_arrow_right</md-icon><span style="font-size:12px;">Loan Offers</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon> <span style="font-size:12px;">Inventory Feed From Multiple Portals</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon> <span style="font-size:12px;">Dedicated Support For Monthly Call</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon> <span style="font-size:12px;">Business Website</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon> <span style="font-size:12px;">Website & Mobile Apps</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon> <span style="font-size:12px;">Inventory Feed From Multiple Portals</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon><span style="font-size:12px;"> Web and Mobiles Apps</span></p>
		<p><md-icon class="material-icons dialog-icon">keyboard_arrow_right</md-icon><span style="font-size:12px;">Web and Mobiles Apps</span></p>
 </div>
    </md-dialog-content>

  </form>
</md-dialog>

