<style type="text/css">
	.validation-error {
  color: red;
}
.validation-pending {
  color: orange;
}

.loaderExist{
	padding: 3px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: ; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    font-weight: 100 !important;
    background-color: #fefefe;
    width: 100%;
   
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 26px;
       
}

.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 15px 12px;
    background-color: #3f51b5;
    color: white;
    font-weight: 100 !important;
}

.modal-body {padding: 2px 16px;}

/*.modal-footer {
    padding: 2px 16px;
    background-color: #FFF;
    color: white;
}*/



/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
</style>

<div class="page-loader" ng-show="loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
    </div>
</div>
<div id="inputContainer" class="inputDemo" ng-cloak>

	<!--LOGO-->
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		<img src="images/logo.png" >
	</section>
		<!--Register-->
	<section layout="row" layout="column" layout-align="center center" layout-wrap="">
    	<div flex-xs="" flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
	 		<form name="registerForm" accessible-form novalidate="" ng-submit="registerForm.$valid && step1()"><!-- 
	 		<form name="registerForm" accessible-form novalidate="" ng-submit="registerForm.$valid && step1()"> -->
	 			<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
					<md-icon style="color:#333;" md-svg-src="images/user-silhouette.svg"></md-icon>
					<input style="border-color:#CCC;" name="dName" ng-pattern="/^[a-zA-Z0-9\-\s]+$/" ng-model="dName" md-maxlength="25" maxlength="25" placeholder="Name" aria-label="Name" type="text" no-special-char required>
                    <div ng-messages="registerForm.dName.$error">
         				<div ng-message="required">Enter Your Name</div>
         				<div ng-message="pattern">Only Alphabets & numerics are Allowed..</div>
        			</div>
        			
				</md-input-container>

				<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
					<md-icon style="color:#333;" md-svg-src="images/phone-call.svg"></md-icon>
					<input style="border-color:#CCC;" name="dContact" ng-model="dContact" placeholder="Contact" aria-label="Contact" type="text" md-maxlength="10" ng-minlength="10" maxlength="10" required  numbers-only="numbers-only" autocomplete="off" no-Validator>
					 
					<div ng-messages="registerForm.dContact.$error"  ng-messages-multiple>
         				<div ng-message="required">Enter Your Phone No.</div>
         				<div ng-message="minlength">Invalid Mobile No.</div>
         				<div ng-message="maxlength">Invalid Mobile No.</div>
         				<div ng-message="dContact">Contact already in use</div>
        			</div>


        			<!-- <div ng-if="registerForm.$pending.usernameExists"><img src="images/loader/exist/spped1.gif"> Checking Availablity...</div>
      				<div ng-if="registerForm.$error.usernameExists">username exists already</div> -->


        			<div ng-if="registerForm.dContact.$valid">
	        			<div ng-messages="{'required': true}"  ng-messages-multiple>
	          				<div ng-message="required" style="color:green!important">
	          					<img src="images/loader/exist/tick.png" class="loaderExist" />Phone Number is Available
	          				</div>
        				</div>
        			</div>
        			
        			<!-- <div ng-messages="registerForm.dContact.$error">
					    <div ng-message="dContact">That post code does not exist!</div>
					</div> -->
        			
        			<div ng-if="registerForm.dContact.$dirty">
						<div ng-messages="registerForm.dContact.$error"  ng-messages-multiple>
		        			<div ng-messages="registerForm.dContact.$pending " class="validation-pending">
	                        	<div ng-message="dContact">
	                        		<img src="images/loader/exist/spped1.gif"> Checking Availablity...
	                        	</div>
		                    </div>
	                    </div>
                    </div>
				</md-input-container>
		
				<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
					<md-icon style="color:#333;" md-svg-src="images/envelope.svg"></md-icon>
					<input style="border-color:#CCC;" name="dEmail" ng-model="dEmail" placeholder="Email Id" aria-label="Email Id" type="email" required="" ng-pattern="/^.+@.+\..+$/" username-validator  ng-model-options="{ updateOn: 'blur' }">
					
					<div ng-messages="registerForm.dEmail.$error">
         				<div ng-message-exp="['required', 'pattern']">Enter Correct Email ID..!</div>
     				 	<div ng-message="dEmail">Email already in use</div>
        			</div>
        		
        			<div ng-if="registerForm.dEmail.$valid">
	        			<div ng-messages="{'required': true}">
	          				<div ng-message="required" style="color:green!important">
	          					<img src="images/loader/exist/tick.png" class="loaderExist" />Email is Available
	          				</div>
        				</div>
        			</div>

        			<div ng-if="registerForm.dEmail.$dirty">
        				<div ng-messages="registerForm.dEmail.$valid">
     				 		<div ng-message="dEmail">Email Available</div>
        				</div>
						<div ng-messages="registerForm.dEmail.$error">
		        			<div ng-messages="registerForm.dEmail.$pending" class="validation-pending">
	                        	<div ng-message="dEmail">
	                        		<img src="images/loader/exist/spped1.gif"> Checking Availablity...
	                        	</div>
		                    </div>
	                    </div>
                    </div>
				</md-input-container>
				
			 	<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
				<md-icon style="color:#333;" md-svg-src="images/user-silhouette.svg"></md-icon>
					<input style="border-color:#CCC;" name="dShipName" ng-model="dShipName" placeholder="Dealership Name" md-maxlength="30" maxlength="30" ng-pattern="/^[a-zA-Z0-9\s]*$/" aria-label="Dealership Name" type="text"  required="">
					<div ng-messages="registerForm.dShipName.$error">
         				<div ng-message="required">Enter Your Dealer Ship Name</div>
         				<div ng-message="pattern">Only Alphabets & numerics are Allowed..</div>
        			</div>
				</md-input-container>
		
		  
				<!-- <md-input-container class="md-block flex-gt-sm"  flex-gt-sm="">
			  		<md-icon style="color:#333;" md-svg-src="images/place.svg"></md-icon>
					<md-select placeholder="City" ng-model="dCity" name="dCity" style="min-width: 100px;"  required="">
						<md-option ng-repeat="city in cities" ng-value="city.city_id" tabindex="0" class="md-ink-ripple" role="option" aria-selected="false" id="select_option_400">
							<div class="md-text">{{city.city_name}}</div>
						</md-option>
				 	</md-select>
				 	<div ng-messages="registerForm.dCity.$error">
         				<div ng-message="required">Choose Your City...</div>
        			</div>
			  	</md-input-container> -->

			  	<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
					<md-icon style="color:#333;" md-svg-src="images/place.svg"></md-icon>
					<input style="border-color:#CCC;" name="dCity" ng-model="dCity" placeholder="City Name" aria-label="city Name" type="text"  required="" id="myBtn" readonly="">
					<div ng-messages="registerForm.dCity.$error">
         				<div ng-message="required">Choose Your City...</div>
        			</div>
				</md-input-container>

			  	<!-- <md-input-container class="md-block md-icon-left md-input-placeholder">
     <md-icon style="color:#333;" md-svg-src="images/user-silhouette.svg"></md-icon>
			  	<md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="City">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>

</md-input-container>
 -->





			  	<section layout="row" layout="column" layout-align="center center" layout-wrap="" >
            <button  class="md-warn md-raised md-hue-2 md-button md-ink-ripple layout-padding btn-red" type="submit" >
            <span style="color;#FFF !important;" >Continue</span></button>
				 </section>
		 	</form>
		</div>
 	</section>

 	<!-- <div ng-repeat="n in news">
      <textarea ng-model="n.theme"></textarea>
    </div> -->
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close"><img src="images/close.svg" width="18" height="18"></span>
      <span style="font-weight: normal padding:10px 0 10px 0; font-size: 24px !important;">City</span>
    </div>
    <div>
      <div flex="99">
        <md-input-container style="margin-bottom: -10px !important; margin-left: -20px;
        padding-right: 40px !important;" md-no-float="" class="md-block md-icon-right md-input-placeholder">
        <input style="border-color:#CCC;" name="dName" ng-model="searchCity" placeholder="Name" aria-label="Name" type="text" id="searchCity">
        <md-icon style="color:#333; right: 5px !important;" md-svg-src="images/search.svg"></md-icon>
        </md-input-container>
      </div>
      <div class="row" >
        <div class="col s11" style="overflow: scroll; padding-top: -50px; margin: 10px; width: 95%; height: 900px;">
          <div ng-repeat="city in cities | filter:searchCity ">
            <p style="border-bottom: 1px solid #CCC; padding-bottom: 10px;" ng-click="pickCity(city.city_id,city.city_name)">{{city.city_name}}</p>
          </div>

          <div ng-show="(cities | filter:searchCity).length == 0">
            <p>No data Found</p>      
          </div>
        </div>
      </div>
      
      
      <!--    <div class="modal-body" style="height:800px; width: 100%; overflow:scroll;">
          <p  ng-repeat="city in cities">{{city.city_name}}</p>
      </div> -->
      <!-- <div class="modal-footer">
          <h3>Modal Footer</h3>
      </div> -->
    </div>
  </div>

</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>