<div id="inputContainer" class="inputDemo" ng-cloak>
	<section layout="row" layout="column" layout-align="center center">
	    <div flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
			<div class="text-xs-center"> 
				<img src="images/successfull.png">
			</div> 
		 	<md-title>
		  		<md-title-text>
			  		<p align="center" class="md-title" >Registered Successfully</p>
			  		<p align="center" class="md-body-2" >Registration with DMS is successful
 Click here to login</p>
				</md-title-text>
		  		<span align="right"></span>
		  	</md-title>
		  	<div flex="33" align="center">
				<!-- <a  href="#/back" class="md-raised md-primary" style="background-color:#FF0000;">Back</a> -->
				<a href="#/back"><button class="btn btn-red" style="border: none; padding: 5px 10px 5px 10px; color: #FFF; border-radius: 5px;">Back</button></a>
		 	</div>
		</div>
	</section>
</div>