<ion-header-bar class="bar-calm bar-pad">
     
        <div class="col col-10" ng-click="back()">
          <img src="images/back-white.svg" width="18" height="18">
        </div>
        <div class="col col-20" align="left">
           <div class="item-avatar" align="left" style="position: relative !important;">
             <img src="{{userDetails.carlogo}}">
          </div>
        </div>
        <div class="col col-70" ng-click="goToCarView()">
          <p class="pad">{{userDetails.model}} {{userDetails.variant}}</p>
          <p class="pad">{{userDetails.location}} - {{userDetails.carposttime}}</p>
          <p class="pad">Rs {{userDetails.price}}</p>
        </div>
      
    </ion-header-bar>



    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true" style="background-image: url('images/intro.jpg');">

      <ion-refresher on-refresh="loadMore()">
                     
      </ion-refresher>

      <div ng-repeat="message in items"
           ng-class="{other: message.user_id == userId}"
           class="messages">

        <div class="message" ng-class="">
          <span>{{ message.message }}<br>
          <small>{{message.date}}</small>
          </span>
        </div>

        <!-- <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div> -->


      </div>
      <a id="bottom"></a>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="sendMessageData" on-focus="inputUp()" on-blur="inputDown()" set-fn="setDirectiveFn(theDirFn)"/>
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>