<div id="rect">
	<div id="content1">
	
		<div id="inputContainer" ng-cloak>
			
			<!-- Top title -->
			<section layout="row" layout="column" layout-align="center center" layout-wrap="">
				<div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
					<md-toolbar class="_md _md-toolbar-transitions">
					<div class="md-toolbar-tools">
						<h4 class="inventitle">Listing-id : DPLID_1486098127</h4>
					</div>
					
					</md-toolbar>
				</div>
			</section>
			
			<section layout="row" layout="column" layout-align="center center">
				<div layout-padding flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
					<div class="card-body">
						<br>
						
						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">Registration Certificate</span>
							</div>
							<input id="regCer" name="registrationCertificate" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('regCer','Registration Certificate')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputregCer">Choose Registration Certificate </span> </h3>
						</div>
						
						
						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">Insurance</span>
							</div>
							<input id="Insurance" name="Insurance" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('Insurance','Insurance')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputInsurance">Choose Insurance </span> </h3>
						</div>
						
					
						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">Regional transport Office</span>
							</div>
							<input id="rto" name="rto" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('rto','Regional transport Office')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputrto">Choose Regional transport Office </span> </h3>
						</div>

						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">FC</span>
							</div>
							<input id="fc" name="fc" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('fc','fc')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputfc">Choose FC </span> </h3>
						</div>

						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">NOC</span>
							</div>
							<input id="noc" name="noc" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('noc','NOC')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputnoc">Choose NOC </span> </h3>
						</div>

						<div class="dropify-wrapper">
							<div class="dropify-message">
								<md-icon style="color:#333;" md-svg-src="images/upload.svg"></md-icon><br>
								<span class="md-caption img-text-height">Permit Document</span>
							</div>
							<input id="pd" name="pd" type="file">
						</div>
						<div class="col-xs-12" align="center">
							<md-button class="md-raised md-primary" style="margin-left: 20px;" ng-click="removeDoc('pd','Permit Document')">Remove</md-button>
							<h3 class="md-caption img-text-height"> <span id="outputpd">Choose Permit Document </span> </h3>
						</div>


					</div>
				</div>
			</section>
		</div>
	</div>
	
	
	<div id="footer-bottom">
		<section layout="row" layout="column" layout-align="center center" layout-wrap="" >
			<a href="inventory-images.html">
				<button class="md-warn md-raised md-hue-2 md-button md-ink-ripple layout-padding" type="button">
					<span style="color;#FFF !important;" >Images & Videos</span>
				</button>
			</a>
				
			<a href="inventory-price.html">
				<button class="md-primary md-raised md-hue-2 md-button md-ink-ripple layout-padding" type="button">
					<span style="color;#FFF !important;" >Price Information</span>
				</button>
			</a>	
		</section>			
	</div>
			
</div>